@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
@import url(
'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,300&display=swap');

.App {
height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;
align-items: center;
background-color: #f1d2e7c9;
font-family:'Poppins', sans-serif;
}

h1 {
text-align: center;
font-size: 3em;
font-family: 'Libre+Baskerville';
color: #b33d78;
padding: 1.5em;
}

h2{
font-size: 30px;
text-decoration: underline;
padding-bottom: 20px;
}

h4{
color: #b33d78;
}

input{
width: 400px;
height: 38px;
font-size: 20px;
padding-left: 10px;
}

.searchBox > button{
background-color: #cd93b6;
height: 38px;
width: 60px;
border: none;
color: white;
cursor: pointer;
padding: 0;
}

.showResults{
width: 500px;
padding: 20px;
}

.showResults > h2 > button{
background: none;
border: none;
cursor: pointer;
}

